[run]
branch = True
source = src/assessment_engine
omit =
    */__init__.py
    */tests/*
    */diagnostics/*
    */node_modules/*

[report]
fail_under = 20
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    except ImportError:
    pass
